/************** Extra small *****************************************************************************************************/
/**********************************************************************************************************************************/
@media screen and (max-width:576px) {
       /* ########### NAV ############## */

       header {
              box-shadow: none;
       }

       header .container {
              flex-direction: column;
              align-items: center;
              row-gap: 20px;
              margin-top: 15px;
       }

       header .logo {
              margin-top: 15px;
       }

       header .menu {
              flex-direction: column;
              gap: 25px;
       }

       /* ########### HERO ############# */

       #hero {
              background-image: none;
       }

       #hero .container {
              display: flex;
              justify-content: center;
              flex-direction: column-reverse;
       }

       .hero-text h2 {
              font-size: 40px;
       }

       .hero-text h1 {
              font-size: 75px;
       }

       #hero li {
              font-size: 16px;
       }

       #hero button {
              font-size: 16px;
       }

       /* ############### GAMER ################ */

       #gamer {
              padding: 0 0 100px 0;
       }

       #gamer .container {
              grid-template-columns: repeat(1, 1fr);
              justify-content: center;
              gap: 10px;
       }

       #gamer .gamer-text {
              row-gap: 20px;
       }

       .gamer-text {
              text-align: center;
              justify-items: center;
       }

       .gamer-text h2 {
              font-size: 40px;
       }

       .gamer-text p {
              font-size: 16px;
       }

       #gamer button {
              font-size: 12px;
       }

       #gamer h6 {
              font-size: 22px;
       }

       #gamer h3 {
              font-size: 18px;
       }

       /* ################### ONLINE ################# */

       #online {
              padding: 50px 0 100px 0;
       }

       #online .online-img {
              grid-template-columns: repeat(1, 1fr);
              gap: 25px;
       }

       .online-text h3 {
              font-size: 20px;
       }

       .online-text p {
              font-size: 16px;
              margin: 15px 0;
       }

       /* ################# PLAY INSTANTLY ################ */
       #play-instantly .container {
              grid-template-columns: repeat(1, 1fr);
       }

       #play-instantly .left {
              text-align: center;
              padding: 0;
       }

       #play-instantly h2 {
              font-size: 35px;
              line-height: 50px;
       }

       #play-instantly h3 {
              font-size: 35px;
              line-height: 50px;
       }

       #play-instantly p {
              margin-top: 20px;
       }

       #play-instantly .container-bottom {
              display: flex;
              flex-direction: column-reverse;
              gap: 40px;
       }

       #play-instantly .container-bottom .left {
              text-align: center !important;
       }


       /* ############## CAREER ############### */
       #career {
              grid-template-columns: repeat(1, 1fr);
       }

       #career h2 {
              font-size: 35px;
       }

       #career p {
              font-size: 16px;
       }

       #career h3 {
              font-size: 16px;
       }

       #career button {
              width: 55%;
       }

       .career-img{
              display: flex;
              justify-content: center;
       }

       .career-img img {
              width: 80%;
       }

       
}

/**************** Medium **********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 577px) and (max-width:768px) {}

/***************** Large **********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 769px) and (max-width:992px) {}

/***************** X-Large **********************************************************************************************************/
/**************************************************************************************************************************************/
@media screen and (min-width: 993px) and (max-width:1440px) {}