/************** Extra small *****************************************************************************************************/
/**********************************************************************************************************************************/
@media screen and (max-width:576px) {
       /* ########### NAV ############## */

       header{
              box-shadow: none;
       }
       header .container{
              flex-direction: column;
              align-items: center;
              row-gap: 20px;
              margin-top: 15px;
       }
       header .menu{
              flex-direction: column;
              gap: 15px;
       }
}

/**************** Medium **********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 577px) and (max-width:768px) {}

/***************** Large **********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 769px) and (max-width:992px){}

/***************** X-Large **********************************************************************************************************/
/**************************************************************************************************************************************/
@media screen and (min-width: 993px) and (max-width:1440px) {}